*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1500;
}

 nav{
    width: 100%;
    height: 50px;
    background-color: #131921;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.leftside{
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bars img{
    margin-left: 10px;
    width: 20px;
}
.left-btn{
    background-color: #000;
    color: #fff;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    border: 2px solid #fff;
}
.left-btn:focus{
    outline: none;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
ul li{
    margin-left: 10px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
ul li a:hover{
    text-decoration: none;
    color: #fff;
}
ul li a img{
    width: 12px;
    margin-left: 5px;
}
.rightside{
    display: flex;
    align-items: center;
}
.center-div img{
    width: 120px;
    margin-right: 270px;
}
.content{
    background: #fff;
    width: 230px;
    height: 32px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-right: 20px;
}
.content img{
    width: 15px;
    margin-right: 10px;
}
.content input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.content input::placeholder{
    font-size: 14px;
    font-weight: 600;
}

.shoping{
    width: 65px;
    height: 32px;
    margin-right: 35px;
    background-color:  rgb(235, 23, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}
.shoping img{
  width: 22px;
}
.shoping span{
    margin-right: 5px;
    color: #fff;
} 


/* vendor page card css  */
.Category-Products{
    width: 100%;
    height: 20vh;
    /* background-color: #f8f8ff; */
    /* margin-top: 15px; */
}

.onemore{
    display: flex;
    justify-content: center;
}
.row-cat{
    width: 80%;
    height: 20vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cakeitem >img{
    width: 40px;
}
.cakeitem{
    cursor: pointer;
}
.silderitemlabel{
    text-align: center;
    color: black;
    font-size: 13px;
}
.prewbutton,
.nextbutton{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: tomato;
    border-radius: 50%;
}
.prewbutton:hover{
    background-color: tomato;
}
.nextbutton:hover{
    background-color: tomato;
}

/* buttons section  */
.button-row{
    width: 100%;
    height: 50px;
    /* background-color: teal; */
    display: flex;
}
.butoncontainer{
    width: 800px;
    /* background: chartreuse; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-left: 75px;
}
/* dropdown css  */
.dropbtn {
    background-color: #fff;
    color:	#1e90ff;
    padding: 1px 16px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border: 2px solid 	#1e90ff;
    border-radius: 20px;
    display: flex;
    align-items: center;
  }
  .dropbtn:focus{
    outline: none;
  }
  .dropbtn >img{
      margin: 5px 5px;
      width: 18px;
  }

 .downarr >img{
     margin-top: 5px;
 }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content >a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #fff;
  }
  .mybuttons {
    background-color: #fff;
    border: 2px solid	#1e90ff;
    color: 	#1e90ff;
    padding: 3px 16px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
  }
  .mybuttons:focus{
      outline: none;
  }
  #mysearch{
      /* border:2px solid ; */
      background:	#f8f8ff;
  }

.selection{
    width: 100%;
    height: 70px;
    /* background: black; */
    padding: 0px 90px;
   margin: 20px 0px;
   display: flex;
   align-items: flex-end;

}
.tabs{
    width: 100%;
    padding: 0px 5px;
    /* background: pink; */
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tabs-button{
    display: flex;
}
.nav-link{
    color: #000;
    font-size: 18px;
}
.nav-link:hover, .nav-link:focus{
    color: #000;
    background-color:	#f8f8ff;
    border-bottom: 2px solid chocolate;
}
 .nav-item:hover{
    color: #000;
    background-color:	#f8f8ff;
    border-bottom: 2px solid chocolate;
}
.rightbut{
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

.rightbut >img{
    width: 16px;
  margin-left: 5px;
  margin-top: 10px;
}



  /* cards desizning start  */
.Doordash-Card{
    width: 100%;
    height: auto;
}

.title{
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}
.title h2{
    font-size: 25px;
    font-weight: bold;
    padding: 0px;
}

.title-btn{
    background-color: tomato;
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
}
.title-btn:focus{
    outline: none;
}
.Doordash-Card, .card-deck{
    padding:  10px 50px;
}
/* css for vendor cards  */
.vendor-card{
    cursor: pointer;
    padding: 5px;
 box-shadow: none;
}
.vendor-card:hover{
    cursor: pointer;
    padding: 5px;
    box-shadow: 1px 1px 2px 1px #ccc;
}
.card-title {
    margin-bottom: 0.5;
}
.card-text:last-child {
    margin-bottom: 0;
    line-height: 18px;
}
.card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    padding: 1px;
    height: 30vh;
}
@media (min-width: 576px){
.card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    border: none;
}}

.card-content >.card-body {
    line-height: 2px;
    padding: 5px 2px;
}

.card-content >.card-title {
    margin-bottom: 0rem;
}
.card-text:last-child {
    margin-bottom: 0;
    line-height: 1px;
}
.extracontent{
    width: 100%;
    height: 42px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.innercontent{
    width: 100%;
    margin-top: 10px;
}
.innercontent label{
    padding: 0px 10px;
    font-size: 13px;
    color: green;
}
.innercontent img{
    width: 20px;
}
.rating{
    width: 100%;
    height: 20px;
    /* background-color: hotpink; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.rating-star{
    width: 50px;
    height: 25px;
    background-color: green;
    display: flex;
    align-items: center;
    padding-left: 7px;
    border-radius: 20px;
}

.rating-star >span{
    color: #fff;
    margin-left: 5px;
    font-size: 13px;
}
.rating-star >img{
    width: 16px;
}
.minuts >span{
    font-size: 12px;
    font-weight: bold;
    color: gray;
}
.dis{
    width: 100%;
    height: 20px;
    margin-top: 10px;
    /* background: greenyellow; */
}
.dis >label{
    padding: 0px 10px;
    font-size: 13px;
    color: gray;
}
.dis >img{
    width: 20px;
}
.card-text{
    text-align: justify;
}

.Filte > select{
   border: 2px solid	#1e90ff;
   color: #1e90ff;
   padding: 3px 16px;
   border-radius: 20px;
   font-weight: bold;
   cursor: pointer;
}
.Filte > select > option{
    cursor: pointer !important;
}
.TitCat > a{
    color: black;
    text-decoration: none;
}
.TitCat > a:hover{
    text-decoration: none;
    color: black;
}
.LocationSelect > select{
    background: #131921;
    color: white;
    border: none;
}
.RatingVendir{
    width: 300px;
    height: 180px;
    background: white;
}
.RatingVendir:hover{
    background: white;
}

.Selecrng > input{
    margin: 40px 10px;
    width: 100%;
}
.caNcal > button{
    width: 100%;
    height: 35px;
    border: none;
    background: white;
    color: black;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid lightgray;

}
.apPly button{
    width: 100%;
    background: rgb(235, 23, 0);
    color: white;
    font-weight: 500;
    height: 35px;
    border: 1px solid rgb(235, 23, 0);
    border-radius: 8px;
}
.caNcal > button:focus{
    outline: none;
}
.apPly > button:focus{
    outline: none;
}

.vendorpage-footer{
    width: 100%;
    height: 25vh;
    background: #4d575f;
    display: flex;
    justify-content: center;
}
.vendorfooter-Content{
    width: 600px;
    height: 25vh;
    background: darksalmon;
}